@font-face {
  font-family: "iconfont"; /* Project id 5083238 */
  src: url('iconfont.woff2?t=1765173985452') format('woff2'),
       url('iconfont.woff?t=1765173985452') format('woff'),
       url('iconfont.ttf?t=1765173985452') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cloud-upload:before {
  content: "\e81a";
}

.icon-cloud:before {
  content: "\e81b";
}

.icon-cloud-download:before {
  content: "\e81c";
}

.icon-cloud-sync:before {
  content: "\e81d";
}

.icon-video:before {
  content: "\e81e";
}

.icon-notification:before {
  content: "\e81f";
}

.icon-sound:before {
  content: "\e820";
}

.icon-radarchart:before {
  content: "\e821";
}

.icon-qrcode:before {
  content: "\e822";
}

.icon-fund:before {
  content: "\e823";
}

.icon-image:before {
  content: "\e824";
}

.icon-mail:before {
  content: "\e825";
}

.icon-table:before {
  content: "\e826";
}

.icon-idcard:before {
  content: "\e827";
}

.icon-creditcard:before {
  content: "\e828";
}

.icon-heart:before {
  content: "\e829";
}

.icon-block:before {
  content: "\e82a";
}

.icon-error:before {
  content: "\e82b";
}

.icon-star:before {
  content: "\e82c";
}

.icon-gold:before {
  content: "\e82d";
}

.icon-heatmap:before {
  content: "\e82e";
}

.icon-wifi:before {
  content: "\e82f";
}

.icon-attachment:before {
  content: "\e830";
}

.icon-edit:before {
  content: "\e831";
}

.icon-key:before {
  content: "\e832";
}

.icon-api:before {
  content: "\e833";
}

.icon-disconnect:before {
  content: "\e834";
}

.icon-highlight:before {
  content: "\e835";
}

.icon-monitor:before {
  content: "\e836";
}

.icon-link:before {
  content: "\e837";
}

.icon-man:before {
  content: "\e838";
}

.icon-percentage:before {
  content: "\e839";
}

.icon-pushpin:before {
  content: "\e83a";
}

.icon-phone:before {
  content: "\e83b";
}

.icon-shake:before {
  content: "\e83c";
}

.icon-tag:before {
  content: "\e83d";
}

.icon-wrench:before {
  content: "\e83e";
}

.icon-tags:before {
  content: "\e83f";
}

.icon-scissor:before {
  content: "\e840";
}

.icon-mr:before {
  content: "\e841";
}

.icon-share:before {
  content: "\e842";
}

.icon-branches:before {
  content: "\e843";
}

.icon-fork:before {
  content: "\e844";
}

.icon-shrink:before {
  content: "\e845";
}

.icon-arrawsalt:before {
  content: "\e846";
}

.icon-verticalright:before {
  content: "\e847";
}

.icon-verticalleft:before {
  content: "\e848";
}

.icon-right:before {
  content: "\e849";
}

.icon-left:before {
  content: "\e84a";
}

.icon-up:before {
  content: "\e84b";
}

.icon-down:before {
  content: "\e84c";
}

.icon-fullscreen:before {
  content: "\e84d";
}

.icon-fullscreen-exit:before {
  content: "\e84e";
}

.icon-doubleleft:before {
  content: "\e84f";
}

.icon-doubleright:before {
  content: "\e850";
}

.icon-arrowright:before {
  content: "\e851";
}

.icon-arrowup:before {
  content: "\e852";
}

.icon-arrowleft:before {
  content: "\e853";
}

.icon-arrowdown:before {
  content: "\e854";
}

.icon-upload:before {
  content: "\e855";
}

.icon-colum-height:before {
  content: "\e856";
}

.icon-vertical-align-botto:before {
  content: "\e857";
}

.icon-vertical-align-middl:before {
  content: "\e858";
}

.icon-totop:before {
  content: "\e859";
}

.icon-vertical-align-top:before {
  content: "\e85a";
}

.icon-download:before {
  content: "\e85b";
}

.icon-sort-descending:before {
  content: "\e85c";
}

.icon-sort-ascending:before {
  content: "\e85d";
}

.icon-fall:before {
  content: "\e85e";
}

.icon-swap:before {
  content: "\e85f";
}

.icon-stock:before {
  content: "\e860";
}

.icon-rise:before {
  content: "\e861";
}

.icon-indent:before {
  content: "\e862";
}

.icon-outdent:before {
  content: "\e863";
}

.icon-menu:before {
  content: "\e864";
}

.icon-unorderedlist:before {
  content: "\e865";
}

.icon-orderedlist:before {
  content: "\e866";
}

.icon-align-right:before {
  content: "\e867";
}

.icon-align-center:before {
  content: "\e868";
}

.icon-align-left:before {
  content: "\e869";
}

.icon-pic-center:before {
  content: "\e86a";
}

.icon-pic-right:before {
  content: "\e86b";
}

.icon-pic-left:before {
  content: "\e86c";
}

.icon-bold:before {
  content: "\e86d";
}

.icon-font-colors:before {
  content: "\e86e";
}

.icon-exclaimination:before {
  content: "\e86f";
}

.icon-font-size:before {
  content: "\e870";
}

.icon-infomation:before {
  content: "\e871";
}

.icon-line-height:before {
  content: "\e872";
}

.icon-strikethrough:before {
  content: "\e873";
}

.icon-underline:before {
  content: "\e874";
}

.icon-number:before {
  content: "\e875";
}

.icon-italic:before {
  content: "\e876";
}

.icon-code:before {
  content: "\e877";
}

.icon-column-width:before {
  content: "\e878";
}

.icon-check:before {
  content: "\e879";
}

.icon-ellipsis:before {
  content: "\e87a";
}

.icon-dash:before {
  content: "\e87b";
}

.icon-close:before {
  content: "\e87c";
}

.icon-check-circle:before {
  content: "\e77d";
}

.icon-enter:before {
  content: "\e87d";
}

.icon-CI:before {
  content: "\e77e";
}

.icon-line:before {
  content: "\e87e";
}

.icon-Dollar:before {
  content: "\e77f";
}

.icon-minus:before {
  content: "\e87f";
}

.icon-compass:before {
  content: "\e780";
}

.icon-question:before {
  content: "\e880";
}

.icon-close-circle:before {
  content: "\e781";
}

.icon-rollback:before {
  content: "\e881";
}

.icon-frown:before {
  content: "\e782";
}

.icon-small-dash:before {
  content: "\e882";
}

.icon-info-circle:before {
  content: "\e783";
}

.icon-pause:before {
  content: "\e883";
}

.icon-left-circle:before {
  content: "\e784";
}

.icon-bg-colors:before {
  content: "\e884";
}

.icon-down-circle:before {
  content: "\e785";
}

.icon-crown:before {
  content: "\e885";
}

.icon-EURO:before {
  content: "\e786";
}

.icon-drag:before {
  content: "\e886";
}

.icon-copyright:before {
  content: "\e787";
}

.icon-desktop:before {
  content: "\e887";
}

.icon-minus-circle:before {
  content: "\e788";
}

.icon-gift:before {
  content: "\e888";
}

.icon-meh:before {
  content: "\e789";
}

.icon-stop:before {
  content: "\e889";
}

.icon-plus-circle:before {
  content: "\e78a";
}

.icon-fire:before {
  content: "\e88a";
}

.icon-play-circle:before {
  content: "\e78b";
}

.icon-thunderbolt:before {
  content: "\e88b";
}

.icon-question-circle:before {
  content: "\e78c";
}

.icon-check-circle-fill:before {
  content: "\e88c";
}

.icon-Pound:before {
  content: "\e78d";
}

.icon-left-circle-fill:before {
  content: "\e88d";
}

.icon-right-circle:before {
  content: "\e78e";
}

.icon-down-circle-fill:before {
  content: "\e88e";
}

.icon-smile:before {
  content: "\e78f";
}

.icon-minus-circle-fill:before {
  content: "\e88f";
}

.icon-trademark:before {
  content: "\e790";
}

.icon-close-circle-fill:before {
  content: "\e890";
}

.icon-time-circle:before {
  content: "\e791";
}

.icon-info-circle-fill:before {
  content: "\e891";
}

.icon-timeout:before {
  content: "\e792";
}

.icon-up-circle-fill:before {
  content: "\e892";
}

.icon-earth:before {
  content: "\e793";
}

.icon-right-circle-fill:before {
  content: "\e893";
}

.icon-YUAN:before {
  content: "\e794";
}

.icon-plus-circle-fill:before {
  content: "\e894";
}

.icon-up-circle:before {
  content: "\e795";
}

.icon-question-circle-fill:before {
  content: "\e895";
}

.icon-warning-circle:before {
  content: "\e796";
}

.icon-EURO-circle-fill:before {
  content: "\e896";
}

.icon-sync:before {
  content: "\e797";
}

.icon-frown-fill:before {
  content: "\e897";
}

.icon-transaction:before {
  content: "\e798";
}

.icon-copyright-circle-fil:before {
  content: "\e898";
}

.icon-undo:before {
  content: "\e799";
}

.icon-CI-circle-fill:before {
  content: "\e899";
}

.icon-redo:before {
  content: "\e79a";
}

.icon-compass-fill:before {
  content: "\e89a";
}

.icon-reload:before {
  content: "\e79b";
}

.icon-Dollar-circle-fill:before {
  content: "\e89b";
}

.icon-reloadtime:before {
  content: "\e79c";
}

.icon-poweroff-circle-fill:before {
  content: "\e89c";
}

.icon-message:before {
  content: "\e79d";
}

.icon-meh-fill:before {
  content: "\e89d";
}

.icon-dashboard:before {
  content: "\e79e";
}

.icon-play-circle-fill:before {
  content: "\e89e";
}

.icon-issuesclose:before {
  content: "\e79f";
}

.icon-Pound-circle-fill:before {
  content: "\e89f";
}

.icon-poweroff:before {
  content: "\e7a0";
}

.icon-smile-fill:before {
  content: "\e8a0";
}

.icon-logout:before {
  content: "\e7a1";
}

.icon-stop-fill:before {
  content: "\e8a1";
}

.icon-piechart:before {
  content: "\e7a2";
}

.icon-warning-circle-fill:before {
  content: "\e8a2";
}

.icon-setting:before {
  content: "\e7a3";
}

.icon-time-circle-fill:before {
  content: "\e8a3";
}

.icon-eye:before {
  content: "\e7a4";
}

.icon-trademark-circle-fil:before {
  content: "\e8a4";
}

.icon-location:before {
  content: "\e7a5";
}

.icon-YUAN-circle-fill:before {
  content: "\e8a5";
}

.icon-edit-square:before {
  content: "\e7a6";
}

.icon-heart-fill:before {
  content: "\e8a6";
}

.icon-export:before {
  content: "\e7a7";
}

.icon-piechart-circle-fil:before {
  content: "\e8a7";
}

.icon-save:before {
  content: "\e7a8";
}

.icon-dashboard-fill:before {
  content: "\e8a8";
}

.icon-Import:before {
  content: "\e7a9";
}

.icon-message-fill:before {
  content: "\e8a9";
}

.icon-appstore:before {
  content: "\e7aa";
}

.icon-check-square-fill:before {
  content: "\e8aa";
}

.icon-close-square:before {
  content: "\e7ab";
}

.icon-sisternode:before {
  content: "\e903";
}

.icon-down-square:before {
  content: "\e7ac";
}

.icon-Field-number:before {
  content: "\e90d";
}

.icon-layout:before {
  content: "\e7ad";
}

.icon-Field-String:before {
  content: "\e90e";
}

.icon-left-square:before {
  content: "\e7ae";
}

.icon-Function:before {
  content: "\e90f";
}

.icon-play-square:before {
  content: "\e7af";
}

.icon-Field-time:before {
  content: "\e910";
}

.icon-control:before {
  content: "\e7b0";
}

.icon-GIF:before {
  content: "\e911";
}

.icon-codelibrary:before {
  content: "\e7b1";
}

.icon-Partition:before {
  content: "\e912";
}

.icon-detail:before {
  content: "\e7b2";
}

.icon-Storedprocedure:before {
  content: "\e913";
}

.icon-minus-square:before {
  content: "\e7b3";
}

.icon-Field-Binary:before {
  content: "\e914";
}

.icon-plus-square:before {
  content: "\e7b4";
}

.icon-Console-SQL:before {
  content: "\e915";
}

.icon-right-square:before {
  content: "\e7b5";
}

.icon-icon-test:before {
  content: "\e916";
}

.icon-project:before {
  content: "\e7b6";
}

.icon-aim:before {
  content: "\e917";
}

.icon-wallet:before {
  content: "\e7b7";
}

.icon-compress:before {
  content: "\e918";
}

.icon-up-square:before {
  content: "\e7b8";
}

.icon-expend:before {
  content: "\e919";
}

.icon-calculator:before {
  content: "\e7b9";
}

.icon-folder-view:before {
  content: "\e91a";
}

.icon-interation:before {
  content: "\e7ba";
}

.icon-file-GIF:before {
  content: "\e91b";
}

.icon-check-square:before {
  content: "\e7bb";
}

.icon-group:before {
  content: "\e91c";
}

.icon-border:before {
  content: "\e7bc";
}

.icon-Report:before {
  content: "\e91d";
}

.icon-adduser:before {
  content: "\e7bd";
}

.icon-View:before {
  content: "\e91e";
}

.icon-deleteteam:before {
  content: "\e7be";
}

.icon-shortcut:before {
  content: "\e91f";
}

.icon-deleteuser:before {
  content: "\e7bf";
}

.icon-ungroup:before {
  content: "\e920";
}

.icon-addteam:before {
  content: "\e7c0";
}

.icon-user:before {
  content: "\e7c1";
}

.icon-team:before {
  content: "\e7c2";
}

.icon-areachart:before {
  content: "\e7c3";
}

.icon-linechart:before {
  content: "\e7c4";
}

.icon-barchart:before {
  content: "\e7c5";
}

.icon-pointmap:before {
  content: "\e7c6";
}

.icon-container:before {
  content: "\e7c7";
}

.icon-database:before {
  content: "\e7c8";
}

.icon-sever:before {
  content: "\e7c9";
}

.icon-mobile:before {
  content: "\e7ca";
}

.icon-tablet:before {
  content: "\e7cb";
}

.icon-redenvelope:before {
  content: "\e7cc";
}

.icon-book:before {
  content: "\e7cd";
}

.icon-filedone:before {
  content: "\e7ce";
}

.icon-reconciliation:before {
  content: "\e7cf";
}

.icon-file-exception:before {
  content: "\e7d0";
}

.icon-filesync:before {
  content: "\e7d1";
}

.icon-filesearch:before {
  content: "\e7d2";
}

.icon-solution:before {
  content: "\e7d3";
}

.icon-fileprotect:before {
  content: "\e7d4";
}

.icon-file-add:before {
  content: "\e7d5";
}

.icon-file-excel:before {
  content: "\e7d6";
}

.icon-file-exclamation:before {
  content: "\e7d7";
}

.icon-file-pdf:before {
  content: "\e7d8";
}

.icon-file-image:before {
  content: "\e7d9";
}

.icon-file-markdown:before {
  content: "\e7da";
}

.icon-file-unknown:before {
  content: "\e7db";
}

.icon-file-ppt:before {
  content: "\e7dc";
}

.icon-file-word:before {
  content: "\e7dd";
}

.icon-file:before {
  content: "\e7de";
}

.icon-file-zip:before {
  content: "\e7df";
}

.icon-file-text:before {
  content: "\e7e0";
}

.icon-file-copy:before {
  content: "\e7e1";
}

.icon-snippets:before {
  content: "\e7e2";
}

.icon-audit:before {
  content: "\e7e3";
}

.icon-diff:before {
  content: "\e7e4";
}

.icon-Batchfolding:before {
  content: "\e7e5";
}

.icon-securityscan:before {
  content: "\e7e6";
}

.icon-propertysafety:before {
  content: "\e7e7";
}

.icon-safetycertificate:before {
  content: "\e7e8";
}

.icon-insurance:before {
  content: "\e7e9";
}

.icon-alert:before {
  content: "\e7ea";
}

.icon-delete:before {
  content: "\e7eb";
}

.icon-hourglass:before {
  content: "\e7ec";
}

.icon-bulb:before {
  content: "\e7ed";
}

.icon-experiment:before {
  content: "\e7ee";
}

.icon-bell:before {
  content: "\e7ef";
}

.icon-trophy:before {
  content: "\e7f0";
}

.icon-rest:before {
  content: "\e7f1";
}

.icon-USB:before {
  content: "\e7f2";
}

.icon-skin:before {
  content: "\e7f3";
}

.icon-home:before {
  content: "\e7f4";
}

.icon-bank:before {
  content: "\e7f5";
}

.icon-filter:before {
  content: "\e7f6";
}

.icon-funnelplot:before {
  content: "\e7f7";
}

.icon-like:before {
  content: "\e7f8";
}

.icon-unlike:before {
  content: "\e7f9";
}

.icon-unlock:before {
  content: "\e7fa";
}

.icon-lock:before {
  content: "\e7fb";
}

.icon-customerservice:before {
  content: "\e7fc";
}

.icon-flag:before {
  content: "\e7fd";
}

.icon-moneycollect:before {
  content: "\e7fe";
}

.icon-medicinebox:before {
  content: "\e7ff";
}

.icon-shop:before {
  content: "\e800";
}

.icon-rocket:before {
  content: "\e801";
}

.icon-shopping:before {
  content: "\e802";
}

.icon-folder:before {
  content: "\e803";
}

.icon-folder-open:before {
  content: "\e804";
}

.icon-folder-add:before {
  content: "\e805";
}

.icon-deploymentunit:before {
  content: "\e806";
}

.icon-accountbook:before {
  content: "\e807";
}

.icon-contacts:before {
  content: "\e808";
}

.icon-carryout:before {
  content: "\e809";
}

.icon-calendar-check:before {
  content: "\e80a";
}

.icon-calendar:before {
  content: "\e80b";
}

.icon-scan:before {
  content: "\e80c";
}

.icon-select:before {
  content: "\e80d";
}

.icon-boxplot:before {
  content: "\e80e";
}

.icon-build:before {
  content: "\e80f";
}

.icon-sliders:before {
  content: "\e810";
}

.icon-laptop:before {
  content: "\e811";
}

.icon-barcode:before {
  content: "\e812";
}

.icon-camera:before {
  content: "\e813";
}

.icon-cluster:before {
  content: "\e814";
}

.icon-gateway:before {
  content: "\e815";
}

.icon-car:before {
  content: "\e816";
}

.icon-printer:before {
  content: "\e817";
}

.icon-read:before {
  content: "\e818";
}

.icon-cloud-server:before {
  content: "\e819";
}

